.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;
  width: 100%;

  border-radius: 10px;
  background-color: #29a052;
  transition: all 0.5s ease;
}

.listItem_completed {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.listItem_deleted {
  animation: deleteAnim 0.5s forwards;
}

.listItem__text {
  word-break: break-all;
  transition: all 0.3s ease;
}

.listItem__text_completed {
  text-decoration: line-through;
  transition: all 0.3s ease;
}

.listItem__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem__icon {
  display: block;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.listItem__icon:hover {
  transform: translateY(-2px);
}

@keyframes deleteAnim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
